.exam {
  margin-top: 20px;
  padding: 20px;

  &__content {
    height: 80vh;
    box-shadow: 0 3px 5px 2px rgba(0, 0, 0, 0.1);
    display: flex;
    &_left {
      background-color: white;
      margin-right: 20px;
      padding: 20px;
      flex-grow: 1;
      .item {
        padding: 15px;
        width: 100%;
        margin: 10px 0;
        cursor: pointer;
        transition: all 0.5s;
        &:hover {
          box-shadow: 14px 20px 69px rgba(40, 7, 255, 0.1);
        }
        &:first-child {
          border-right: 4px solid #7b4fff;
          background-color: white;
          box-shadow: 14px 20px 69px rgba(40, 7, 255, 0.1);
        }
      }
    }
    &_right {
      background-color: rgb(255, 255, 255);
      flex-grow: 5;
      padding: 20px;
      position: relative;
    }
  }
}

// tutorial

.tutorial {
  display: flex;
  // justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  &__content {
    text-align: center;
    padding: 0 50px;
    &_item {
      text-align: start;
      li {
        margin: 10px 0;
      }
    }
  }
  &__button {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

//result

.result {
  display: flex;
  justify-content: space-between;
  border: 1px solid rgb(224, 224, 224);

  &-item {
    flex-grow: 1;
    text-align: center;
    padding: 10px;
    &:not(:last-child) {
      border-right: 1px solid rgb(224, 224, 224);
    }
  }
}

table {
  width: 100%;
  border-collapse: collapse;
  th {
    padding: 1rem 0;
    &:not(:first-child) {
      text-align: center;
    }
    &:first-child {
      text-align: left;
    }
  }
  td {
    padding: 1rem 0;
    &:not(:first-child) {
      text-align: center;
    }
    &:first-child {
      font-weight: bold;
      text-align: start;
    }
  }
  tr {
    &:not(:last-child) {
      border-bottom: 1px solid rgb(214, 214, 214);
    }
  }
}

.text-result {
  margin-top: 20px;
}

.view-result {
  border: 1px solid rgb(255, 255, 255);
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.185);

  .main__ratings_header {
    color: EF476F;
    p {
      font-size: 15px;
    }
  }
  &__number {
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    font-size: 15px;
    &-box {
      text-align: center;
      background-color: rgb(228, 228, 228);
      padding: 10px 0;
      width: 12.1%;
      margin: 1%;
      border-radius: 5px;
      cursor: pointer;
      color: white;
    }
    .success2 {
      background-color: #52b788;
    }
    .fail2 {
      background-color: #ef476f;
    }
    .noneColor {
      background-color: rgb(228, 228, 228) !important;
    }
  }
}
