*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-weight: 100;
    text-decoration:  none;
    list-style: none;
}
html{
    scroll-behavior: smooth;
}
@font-face {
    font-family: 'Tekton';
    src: url("../font/font-tekton/TektonPro-Bold.otf") format('woff2');
    font-weight: bold;
  }
@font-face {
    font-family: 'TTLakes';
    src: url('../font/TT-Lakes-Font/TT Lakes Medium.otf') format('woff2');
    font-weight: bold;
  }
body{
    background-color:#EDF0F2;
    font-family: "TTLakes";
    font-weight: 100;
}

.container{
    max-width: 1600px ;
     /* background-color: saddlebrown; */
    margin: auto; 
    /* font-family: 'TTLakes','Tekton' sans-serif; */
    margin-left: 10em;
    margin-right: 10em;
}
/*header*/
.header__inner{
    display: grid;
    grid-template-columns: 30% 70%;
    box-shadow: 0px 0px 9px -2px rgb(0 0 0 / 20%);
    padding: 0.5rem;
    background-color: #EDF0F2;
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
}
.header__inner a{
    color: black;
}
.logo{
    margin-left: 10em;
    height: 4em;
} 
.header__menu{
    align-items: center;
    white-space: nowrap;
    font-size: 90%;
    margin-top: 2em;
    height: 2em;
} 
.header__menu__list{
    display: flex;
    justify-content: flex-end;
    margin-right: 3em;
}
.header__menu_item {
    margin-right: 2em;
}
.header__menu_contact{
    border-right: 0.1em solid black;
    padding-right: 2em;
} 
.icon_find{
    background-color: black;
    padding: 1%;
    border-radius: 50%;
    margin-top: -9px;
}
.icon_find{
    position: relative;
}
.header__menu_find{
    position:absolute;
    /* display: none; *//*không hổ trợ animation*/
    opacity: 0;
    visibility: hidden;
    z-index: 2;
    top:  0em;
    right: 2.5em;
    height: 3em;
    text-indent: 10px;
    transition: all 2s;
}
.icon_find:hover{
    background-color:blue;  
}
.icon_find:hover .header__menu_find{
    opacity: 1;
    visibility: visible;
    width: 55em;
}
.icon_seach i{
    color: #FFFFFF;
}
/*banner*/
.banner{
    display: grid;
    grid-template-columns: 5% 25% 70%;
    margin-top: 6em;
}
.banner_title{
    position: relative; 
}
.banner_title-inner {
    position: absolute;
    top: 7.1em;
    right: -3.5em;
    font-size: 1.4em;
    white-space: nowrap;
    transform: rotate(-90deg);
    
  } 
.banner_title-contact {
    position: absolute;
    bottom: 0em;
    right: 0em;
}
.banner_title-contact li{
    margin-top: 1em;
} 
.banner_title-contact a{
   color: black;
} 
.banner_content{
    position: relative;
  }
.banner_content h2{
    color: #E4003B;
}
.banner_content p{
    font-size: 0.8em;
    z-index: 1;
  }
.banner_content-snow{
    position: absolute;
    z-index: -1;
    right: 0;
    bottom: 0;
  }
.banner_content-snow img{
    width: 50%;
  }
  /*section 1*/
.banner_mid{
    position: relative;
    overflow: hidden;
  }
.imageContainer{
    max-height: 480px;
}
.imageContainer:not(:first-child) {
    display: none;
}
.banner_mid_nav button{
    border: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.banner_mid_nav_right button:hover{
    background:#E4003B;
    opacity: 0.7;
}
.banner_mid_nav_left button:hover{
    background:white;
    opacity: 0.7;
}

.banner_mid_nav_right button{
    background-color:#E4003B;
}
.banner_mid_nav_right button i{
    color: white;
}
.banner_mid_nav_left button{
    background-color:white;
}   
  /**/
.banner_mid img{
    width: 100%;
    height: auto;
}
.banner_mid_nav{
    position: absolute;
    z-index: 1;
    right: 0;
    bottom: 0;
}


.banner_final{
    position: absolute;
    top:16em;
    right: 4em;
    align-self: center;
} 
.banner_final li{
    list-style: none;
    margin-bottom: 1em;
}
.banner_final li a{
    color: black;
}
.banner_final li a strong{
    font-size: 50px;
    border-bottom: 2px solid red;
}
#final_number{
    margin-left: 1.5em;
}
.banner_content h2{
    line-height: 0.8;
    font-size: 5em;
    color: #E4003B;
    width: 145px;
    margin-top: 1em;
    height: auto;
    word-break: break-all;
 }
 /* section 2*/
.section_two{
    margin-top: 4em;
}
.popular{
    display: grid;
    grid-template-columns: 65% 35%;
}
.popular a{
    color: red;
}
.popular_left_title{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 1.5em;
  }
.popular_left-content{
    padding: 12%;
}
.popular_left-content  h3{
   margin: 0.5em 0em 0.5em;
}
.popular_left-content  p{
    font-size: 80%;
    margin: 0.5em 0em 0.5em;
}
.popular_left-content a{
    color: #E4003B;
 }
.popular_right_target img{
    height: auto;
    width: 100%;
}
.popular_left img{
    height: auto;
    width: 100%;
}
.popular_right{
    position: relative;
}
.popular_right_target{
    padding: 1em;
}

.popular_right_target_number{
    position: absolute;
    top: 0;
    left: 0;
    color: #E4003B;
}
.fa-times{
    color: #E4003B;
    margin-right: 0.2em;
}
#endu{
    position: absolute;
    font-size: 7em;
    top: 0;
    left: 0;
    z-index: -1;
    color: white;
}
#panc{
    position: absolute;
    font-size: 7em;
    top: 1em;
    left: 0;
    z-index: -1;
    color: white;
}

#challenges {
    color: #E4003B;
    position: absolute;
    top: 2em;
    left: 0em;
    font-size: 3em;
    transform: rotateZ(340deg);
    z-index: -1;
}
.img_shoes{
    position: absolute;
    top: 6em;
    left: 0;
}
.popular_right_target_mission{
    position: absolute;
    left: 0;
    bottom: 2.5em;
}
.popular_right_target_mission h2{
    margin-bottom: 1em;
}
.popular_right_target_mission p{
    margin-top: 2em;
    font-size: 80%;
}
/*section 3*/
.results{
    display: grid;
    grid-template-columns: 35% 65%;
    margin-bottom: 44px;
    align-items: center;
    margin-top: 44px;
}
.results_left{
    display: grid;
    grid-template-columns: 70% 25% 5%;
}
.results_left_title{
    position: relative;
    margin-left: 3em;
}
.results_left_title h3 {
    font-size: 0.7em;
}
.numberone {
    position: absolute;
    top: 0;
    left: 0;
    color: #E4003B;
    font-size: 4.5em;
   
}
.results_left_title_h2 p{
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    color:#E4003B ;
    font-size: 1.5em;
}
.results_left_title_h2 p span{
    color: black;
    font-size: 1em;
}
.results_left_title_span p{
    margin-top: 2em;
    font-size: 0.5em;
}
.results_left_title_h2{
    margin-top: 6em;
}
.results_left-your_sesults{
    position: relative;
    top: 4em;
    left: 1.5em;
    z-index: 1;
    white-space: nowrap;
    transform: rotate(-90deg);
    font-size: 3em;
    color: #FFFFFF;
}
.results_left_img{
    position: relative;
    right: 0em;
    top: 16em;
    z-index: 1;
    color: #FFFFFF;
    opacity: 0.9;
}
.results_left_img img{
    width: 9em;
}
.results_right{
    background-image: url('../anh/MaskGroup2.png');
    background-size: cover;
    padding: 6em 11em 6em 11em;
}
.results_right_boder{
    height: auto;
    border: 15px solid#E4003B;
}
.results_right_boder_content{
    padding: 9em 2em 2em 2em;
    color: #EDF0F2;
}
.results_right_boder_content h2{
    margin-top: 2em;
}
.results_right_boder_content p{
    margin-top: 1em;
    
}
.results_right_boder_content_span p{
    font-size: 0.6em;
}
/*section 4*/
.section_four_left{
    position: relative;
}
.adice{
    position: absolute;
    z-index: 1;
    top: 11em;
    right: 0;
    left: 0;
    transform: rotate(-90deg);
}
.adice h1{
    font-size: 6em;
    color: #E4003B;
}
.section_four{
    display: grid;
    grid-template-columns: 15% 85%;
    padding-bottom: 5em;
    position: relative;
}
.section_four_right {
    background-image: url("../anh/MaskGroup4.png");
    height: 22rem;
    background-size: cover;
    position: relative;
}
.section_four_right_survival{
    background-color: #EDF0F2;
    width: 18em;
    height: 10em;
    position: absolute;
    bottom: 0;
    left: 0;
    padding-top: 1em;
    padding-left: 1.5em;
}
.section_four_right_survival p{
   margin: 0.5em 0 0.5em;
   font-size: 70%;
   
}

.section_four_right_list{
    background-color: #EDF0F2;
    padding: 1em;
    position: absolute;
    top:0;
    right: 0;
}
.section_four_right_list a{
    color: black;
}
.section_four_right_list a strong{
    font-size: 2em;
    border-bottom: 1px solid #E4003B;
}
.list_four{
    margin-top: 0.5em;
    margin-left: 0.8em;
}
 .section_four_right_directional{
    position: absolute;
    bottom: 0;
    right: 0;
}
.directional_right a{
    color: white;
}
.directional_left a{
    color: black;
}
.directional_right{
    background: #E4003B;
    width: 30px;
    height: 30px;
    padding: 8px;
}
.directional_left{
    background: white;
    height: 30px;
    width: 30px;
    padding: 8px;
}

/*section 5*/

.feature{
    display: grid;
    grid-template-columns: 33% 33% 32% 2%;
    margin-bottom: 7em;
}
.feature_camp{
    background-image: url('../anh/01.png');
    width: 100%;
    height: 100%;
    background-size: cover;
    position: relative;
}
.feature_camp_youtobe{
    position: absolute;
    top: 3em;
    left: 2em;
    font-size: 0.6em;
    font-family: 'Tekton';
}
.feature_camp_youtobe a{
    color: #FFFFFF;
}
.feature_camp_tobe a{
    background-color:#FFFFFF;
    width: 1em;
    color: black;
    border-radius: 0.4em;
    height: auto;
    padding: 0.1em;
} 
.feature_camp_shelter{
    padding-top: 14em;
    padding-left: 2em;
    color: #FFFFFF;
    font-size: 80%;
}
.feature_tea{
    margin-left: 1em;
}
.feature_camp_shelter a{
     color: #FFFFFF;
}
.feature_camp_shelter p{
  margin: 1em 0 1em;
}
.feature_camp_shelter a span{
    border-left: 1px solid #FFFFFF;
    padding-left: 0.2em;
}
.feature_tea{
    background-image: url('../anh/img.png');
    width: 100%;
    height: 100%;
    background-size: cover;
    position: relative;
}
.feature_tea_img{
    position: absolute;
    top: 3em;
    left: 3em;
    font-size: 0.8em;
}
.feature_gallery{
    position: relative;
    padding-top: 2em;
    padding-left: 2em;
}
.feature_gallery h1{
    font-size: 3.5em;
}
.feature_foto{ 
    position: absolute;
    top: 4.5em;
    left: 3.4em;
    font-size: 1.3em;
    color: #E4003B;
    white-space: nowrap;
    transform: rotate(-13deg);
}
.feature_gallery_p p {
    margin-top: 3em;
    margin-left: 1em;
    font-size: 0.8em;
    opacity: 0.8;
}
.feature_gallery_more{
    margin: 1em 1em;
}
.feature_icon{
    position: relative;
}
.feature_icon img{
    position: absolute;
    right: 0;
    top: 16em;
    width: 4em;
}
/*footer*/
.footer{
    display: grid;
    grid-template-columns: 30% 70%;
    background-image: url('../anh/footer.png');
    background-size: cover;
    max-height: 23em;
    width: 100%;
    position: relative;
    z-index: 1;
}
.footer a{
    font-size: 80%;
}
.footer_cfg{
    display: grid;
    grid-template-columns: 35% 35% 30%;
}
.footer::before{
    position: absolute;
    content: "";
    z-index: -1;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, 0.2);
}
.logo_footer {
    margin-left: 1em;
    margin-top: 3em;
    width: 85%;
}
.footer_cfg h2{
    font-size: 100%;
}
.footer_challenges h2{
    margin-top: 1em;
    margin-bottom: 0.5em;
    color: #E4003B;
}
.footer_challenges a{
    color: #FFFFFF;
}
.social_footer{
    display: flex; 
    margin-top: 0.5em;
}
.fab-two{
    margin-left: 1em;
}
.footer_advice h2{
    margin-top: 1em;
    margin-bottom: 0.5em;
    color: #E4003B;
}
.footer_advice a{
    color: #FFFFFF;
}
.footer_gallery h2{
    margin-top: 1em;
    margin-bottom: 0.5em;
    color: #E4003B;
}
.footer_gallery a{
       color: #FFFFFF;
}
#btn_Scroll{
    position: fixed;
    z-index: 4;
    bottom: 1em;
    right: 0;
}
#btn_Scroll button{
    border:none;
    cursor: pointer;
}
#btn_topScroll{
    background-color:#E4003B; 
    width: 2em;
    height: 2em;
    border-radius: 15px 15px 0px 0px;
}
#btn_bottomScroll{
    background-color:white; 
    width: 2em;
    height: 2em;
    border-radius: 0px 0px 15px 15px;
}

#btn_topScroll:hover{
    background-color:blue; 
    opacity: 0.9;
   
}
#btn_bottomScroll:hover{
    background-color:blue; 
}
#go_to_x{
    display: none;
    font-weight: 900;
}

/* mobile nav*/
.nav_bars-btr{
    position: fixed;
    top: 0em;
    right: 0;
    padding: 0.5em;
    z-index: 1;
    width: 100px;
    font-size: 2em;
    color: black;
    display: none;
}
.nav_overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(0,0,0,0.3);
    display: none;
    animation:  fadeIn linear 0.2s;
} 
.nav_mobile{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 220px;
    max-width: 100%;
    height: 100%;
    background: #FFFFFF;
    transform: translateX(-100%);
    opacity: 0;
    transition: transform linear 0.3s, opacity linear 0.5s;
}
.nav_mobile_list{
    padding: 1em;
}
 .nav_mobile_list li{
    border-bottom: 2px solid white;
} 
.nav_mobile_link{
    text-decoration: none;
    color: #333;
    display: block;
}
.nav_mobile_link-survival{
    text-align: center;
    background: white;
    margin-top: 7px;
}
/**/
.nav_mobile_list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 220px;
    background-color: cadetblue;
    
  }
.nav_mobile_list li a {
    display: block;
    color: white;
    padding: 7px 7px;
    text-decoration: none;
  }
  .nav_mobile_list li a:hover {
    background-color: #e4175b;
    font-weight: bold;
    color: white;
  }
.nav_mobile_logo img{
    width: 75%;
    padding: 1em 0em 0em 3em;
}
/**/
.nav_input:checked ~ .nav_overlay{
    display: block;
}
.nav_input:checked ~ .nav_mobile{
    transform: translateX(0%);
    opacity: 1;
}
.nav_input{
    display: none;
}
.nav_mobile_close{
    position: absolute;
    padding: 0.5em 0.5em 1em 1em;
    background-color:white;
    border-radius: 0 0 0 100%;
    font-size: 1.3em;
    top: 0;
    right: 0;
}   

.nav_mobile_close i{
    color: #E4003B;
}

@media (max-width: 1023px) {
    .nav_bars-btr{
        display: block;
    }
    .header__menu__list{
        display: none;
    }
  }
 @keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.results_left_reponse{
    display: none;
    margin-top: 1em;
}
.results_left_reponse span{
    color: #E4003B;
}
@media only screen and (min-width: 1317px) and (max-width: 1920px){
    .logo{
        margin-left: 12em;
    } 
    .imageContainer{
        max-height: 479px;
    }
    .popular_right_target_mission {
        bottom: 1.5em;
    }
    .popular_left h3{
        font-size: 1.5em;

    }
    .popular_left-content {
        padding: 6%;
        font-size: 100%;
    }
    .results_right{
        padding: 5em 5em 5em 5em;
    }
    .results_right_boder{
        height: auto;
        border: 15px solid#E4003B;
    }
    .results_right_boder_content h2{
        font-size: 265%;
    }
    .results_right_boder_content p{
        margin-top: 0.1em;
    }
    .results_right_boder_content_span p{
        font-size: 100%;
    }
    .results_left_img img {
        width: 6em;
    }
    .footer{
        height: 15em;
    }
}
@media only screen and (min-width: 1201px) and (max-width: 1316px){
    .imageContainer{
        max-height: 410px;
    }
    .popular_right_target_mission {
        bottom: 1.5em;
    }
    .popular_left-content {
        padding: 6%;
    }
    .results_right{
        padding: 5em 5em 5em 5em;
    }
    .results_right_boder{
        height: auto;
        border: 15px solid#E4003B;
    }
    .results_right_boder_content h2{
        font-size: 265%;
    }
    .results_right_boder_content p{
        margin-top: 0.1em;
    }
    .results_right_boder_content_span p{
        font-size: 100%;
    }
    .results_left_img img {
        width: 6em;
    }
    .footer{
        height: 15em;
    }
}
@media only screen and (min-width: 1024px) and (max-width: 1200px){
    .header__menu {
        font-size: 90%;
    }
    .header__menu_contact {
        padding-right: 2em;
    }
    .banner_content h2 {
        font-size: 3em;
        width: 90px;
    }
    .banner_title-inner {
        top: 7.4em;
        right: -3.5em;
        font-size: 0.8em;
    }
    .banner_content-snow {
        left: 2em;
    }
    .banner_content p{
        font-size: 0.6em;
      }
    .imageContainer{
        max-height: 327px;
    }
    .banner_final li a strong{
        font-size: 2em;
    border-bottom: 2px solid red;
    }
    #final_number{
        margin-left: 1em
    }
    .banner_final {
        top: 13em;
    }
    /*section1*/
    .popular_left-content{
        font-size: 80%;
        padding: 4%;
    }
    .popular_right_target_mission {
        position: absolute;
        left: 0;
        bottom: 1em;
        font-size: 80%;
    }
    /*section2*/
    .results_right{
        width: 100%;
        height: 100%;
        padding: 5em 5em 5em 5em;
    }
    .results_right_boder{
        height: auto;
        border: 15px solid#E4003B;
    }
    .results_right_boder_content h2{
        font-size: 100%;
    }
    .results_right_boder_content p{
        margin-top: 0.1em;
    }
    .results_right_boder_content_span p{
        font-size: 0.5em;
    }
    
    /*3*/
    .results_left-your_sesults{
        top: 4em;
        left: 2.5em;
        font-size: 2em;
    }
    .numberone {
        font-size: 3.5em;
    }
    .results_left_title h3 {
        font-size: 0.5em;
    }
    .results_left_title h2 {
        font-size: 1em;
    }
    .results_left_title p span {
        font-size: 0.8em;
    }
    .results_left_img img{
        width: 4em;
    }
    /*footer*/
}

@media only screen and (min-width: 813px) and (max-width: 1023px){
    /*banner*/
    .banner_content h2 {
        font-size: 2.5em;
        width: 1.8em;
    }
    .banner_title-contact {
       font-size: 0.5em;
    }
    .banner_content p{
        font-size: 0.5em;
    }
    .banner_title-inner {
        top: 7.7em;
        font-size: 0.65em;
    }
    .banner_content-snow {
        left: 2em;
    }
    .imageContainer{
        max-height: 229px;
    }
    .banner_final li a strong{
    font-size: 2em;
    border-bottom: 2px solid red;
    }
    #final_number{
        margin-left: 1em;
    }
    .banner_final {
        top: 12em;
    }
    /*section1*/
    .popular_left h3{
        font-size: 0.8em;
    }
    .popular_left-content {
        padding: 7%;
    }
    .popular_left-content p{
        font-size: 25%
    }
    .popular_left-content a{
        font-size: 0.5em
    }

    .popular_left-content h3{
        font-size: 0.7em;
    }
    #endu{
        font-size: 4em;
    }
    #panc{
        font-size: 4em;
    } 
    #challenges{
        font-size: 1.8em;
    }
    .popular_right_target_mission h2{
        margin-bottom: 0.5em;
        font-size: 0.8em;
    }
    .popular_right_target_mission{
        bottom: 0.8em;
    }
    .popular_right_target_mission h4{
        font-size: 0.5em;
    }

    .popular_right_target_mission p{
        font-size: 0.2em;
        margin-top: 2em;
    }
    /*section2*/
    .numberone {
        font-size: 3.5em;
        right: 1em;
    }
    .results_left_title{
        margin-left: 1em;
    }
    .results_left_title h3 {
        font-size: 0.2em;
    }
    .results_left_img img{
        width: 4em;
    } 
    .results_left_img {
        top: 9em;
    }
     .results_left_title_h2{
        font-size: 0.5em;
        margin-top: 11em;
    }
    .results_left-your_sesults{
        top: 5em;
        left: 2.5em;
        font-size: 1.5em;
    }
    /*right*/
    .results_right{
        width: 100%;
        height: 100%;
        padding: 2em 4em 2em 4em;
    }
    .results_right_boder{
        height: auto;
        border: 10px solid#E4003B;
    } 
     .results_right_boder_content{
        padding: 8em 1em 2em 1em;
    }
    .results_right_boder_content h2{
        margin-top: 0.1em;
        font-size: 100%;
    }
    .results_right_boder_content p{
        font-size: 50%;
    }
     .results_right_boder_content_span p{
        font-size: 25%;
    }
    /*section 3*/
    .adice h1 {
        font-size: 6em;
    }
    .adice {
        top: 13em;
        right: 1em;
    }
    .section_four_right_survival {
        width: 12em;
        height: 6em;
    }
    .section_four_right_survival h2{
        font-size: 100%;
    }
    .section_four_right_survival p{
        font-size: 50%;
    }
    /*section4*/
    .feature_camp_shelter {
        padding-top: 13em;
        padding-left: 1em;
    }
    .feature_gallery h1 {
        font-size: 2em;
    }
    .feature_foto {
        top: 5em;
        left: 3.5em;
        font-size: 0.8em;
    }
    .feature_gallery_p p {
        margin-top: 4em;
        margin-left: 1em;
        font-size: 0.5em;
    }
    .feature_camp_shelter a {
        font-size: 50%;
    }
    .feature_camp_shelter p {
        font-size: 50%;
    }
    .feature_icon img {
        top: 11em;
    }
    /*footer*/
    .footer a{
        font-size: 60%;
    }
    .footer h2{
        font-size: 90%;
    }
    .logo_footer {
        margin-top: 3em;
        width: 70%;
    }
}

@media only screen and (max-width: 812px){
    .logo{
        margin-left: 2em;
    }
}
    @media only screen and (min-width: 568px ) and (max-width: 812px){
        .container{
            margin: 0;
        }
        /*banner*/
        .banner {
            display: grid;
            grid-template-columns: 100%;
        }
        .banner_title{
            display: none;
        }
        .banner_content h2{
            display: none;
        }
        .banner_content h2{
            word-break: unset;
        }
        .banner_content p{
            display: none;
        }
        .banner_content-snow{
            display: none;
        }
        .popular {
            display: grid;
            grid-template-columns: 100%;
         }
         .imageContainer{
            max-height: 378px;
        }
        .banner_final{
            display: none;
        }
        .section_four_right_list{
            display: none;
        }
        /*section1*/
        .section_two {
            margin-top: 0.5em;
        }
        .popular_left_title{
            display: grid;
            grid-template-columns: 100%;
            margin-top: 1em;
          }
        .popular_left h3{
            font-size: 2em;
        }
        .popular_left-content {
            padding: 10%;
        }
        .popular_left-content p{
            font-size: 1em;
        }
        .popular_left-content a{
            font-size: 1em
        }
        .popular_left-content h3{
            font-size: 1.5em;
        }
        #endu{
            font-size: 12em;
        }
        #panc{
            font-size: 12em;
        } 
        #challenges{
            font-size: 5em;
        }
        .popular_right_target{
            padding: 1em;
        }
        .img_shoes {
            top: 12em;
        }
        .popular_right_target_mission h2{
            font-size: 1.5em;
        }
        .popular_right_target_mission{
            position: unset;
            padding: 1em;
            margin-top: 38em;
        }
        /*section2*/
        .results{
            display: grid;
            grid-template-columns: 100%;
        }
        .results_left_title{
           display: none;
        }
        .results_left-your_sesults{
            display: none;
        }
        .results_left_img{
            display: none;
        }
        .results_left_reponse{
            display: block;
            white-space: nowrap;
        }
        /*right*/
        .results_left_reponse {
            font-size: 1em;
            margin-bottom: 1em;
            text-indent: 20px;
        }
        .results_right{
            padding: 5em 5em 5em 5em;
        }
         .results_right_boder_content{
            padding: 12em 2em 2em 2em;
        }
        .results_right_boder_content h2{
            margin-top: 0.1em;
            font-size: 1.5em;
        }
        .results_right_boder_content p{
            font-size: 1em;
        }
         .results_right_boder_content_span p{
            font-size: 1em;
        }
        /*section 3*/
        .section_four{
            display: grid;
            grid-template-columns: 100%;
            padding-bottom: 1em;
        }
        .adice {
         position: unset;
         transform: none;
        }
        .adice h1 {
            font-size: 7em;
        }
        .section_four_right{
            height: 20em;
        }
        
        .section_four_right_survival {
            width: 14em;
            height: 8em;
            padding: 1em;
        }
        .section_four_right_survival h2{
            font-size: 1.2em;
        }
        .section_four_right_survival p{
            font-size: 0.5em;
        }
        /*section4*/
        .feature{
            display: grid;
            grid-template-columns: 100%;
        }
        .feature_gallery h1 {
            font-size: 6em;
        }
        .feature_foto {
            font-size: 1.9em;
        }
        .feature_gallery_p p {
            margin-top: 6em;
        }
        .feature_camp_shelter p {
            margin-bottom: 2em;
        }
        .feature_tea {
            margin-left: 0;
            margin-top: 1em;
        }
        .feature_camp_shelter {
            padding-top: 30em;
        }
        .feature_icon img {
            top: 0em;
        } 
        /*footer*/
        .footer {
            display: grid;
            grid-template-columns: 100%;
            max-height: 60em;
            text-align: center;
        }
        .footer li{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-top: 1em;
        }
        .logo_footer {
            width: 30%;
        }
        .footer_cfg{
            display: grid;
            grid-template-columns: 100%;
        }
        .footer_cfg li{
            margin-right: 1em;
        } 
        .social_footer{
            position: absolute;
            bottom: 0.5em;            
            left: 40%;
        }
        .footer_cfg{
           margin: 0 3em 3em 3em;
        }
    }
@media only screen and (min-width: 375px) and (max-width: 567px){
    
    .container{
        margin: 0;
    }
    /*banner*/
    .banner {
        display: grid;
        grid-template-columns: 100%;
    }
    .banner_title{
        display: none;
    }
    .banner_content{
        display: none;
    }
    .popular {
        display: grid;
        grid-template-columns: 100%;
     }
     .imageContainer{
        max-height: 250px;
    }
     .banner_final_list{
        display: none;
    }
    /*section1*/
    .section_two {
        margin-top: 0.5em;
    }
    .popular_left_title{
        display: grid;
        grid-template-columns: 100%;
        margin-top: 1em;
      }
    .popular_left h3{
        font-size: 1.5em;
    }
    .popular_left-content {
        padding: 10%;
    }
    .popular_left-content p{
        font-size: 1em;
    }
    .popular_left-content a{
        font-size: 1em
    }
    .popular_left-content h3{
        font-size: 1.5em;
    }
    #endu{
        font-size: 7em;
    }
    #panc{
        font-size: 7em;
    }
    #challenges{
        font-size: 3em;
    }
    .img_shoes{
        top: 8em;
    }
    .popular_right_target{
        padding: 1em;
    }
    .popular_right_target_mission h2{
        font-size: 1.5em;
    }
    .popular_right_target_mission{
        position: unset;
        padding: 1em;
        margin-top: 30em;
    }
    /*section2*/
    .results{
        display: grid;
        grid-template-columns: 100%;
    }
    .results_left_title{
       display: none;
    }
    .results_left-your_sesults{
        display: none;
    }
    .results_left_img{
        display: none;
    }
    .results_left_reponse{
        display: block;
        white-space: nowrap;
    }
    /*right*/
    .results_left_reponse {
        font-size: 1em;
        margin-bottom: 1em;
        text-indent: 20px;
    }
    .results_right{
        padding: 2em 4em 2em 4em;
    }
     .results_right_boder_content{
        padding: 6em 1em 1em 1em;
    }
    .results_right_boder_content h2{
        margin-top: 0.1em;
        font-size: 1.5em;
    }
    .results_right_boder_content p{
        font-size: 1em;
    }
     .results_right_boder_content_span p{
        font-size: 1em;
    }
    /*section 3*/
    .section_four{
        display: grid;
        grid-template-columns: 100%;
        padding-bottom: 1em;
    }
    .adice {
    position: unset;
    transform: none;
    }
    .adice h1 {
        font-size: 3em;
    }
    .section_four_right{
        height: 20em;
    }
    .section_four_right_survival {
        width: 13em;
        height: 8em;
        padding: 1em;
    }
    .section_four_right_survival h2{
        font-size: 1.2em;
    }
    .section_four_right_survival p{
        font-size: 0.4em;
    }
    /*section4*/
    .feature{
        display: grid;
        grid-template-columns: 100%;
    }
    .feature_camp_shelter p {
        margin-bottom: 1em;
    }
    .feature_tea {
        margin-left: 0;
        margin-top: 1em;
    }
    .feature_camp_shelter {
        padding-top: 25em;
    }
    .feature_icon img {
        top: 0em;
    } 
    /*footer*/
    .footer {
        display: grid;
        grid-template-columns: 100%;
        max-height: 60em;
        text-align: center;
    }
    .footer li{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-top: 1em;
    }
    .logo_footer {
        width: 30%;
    }
    .footer_cfg{
        display: grid;
        grid-template-columns: 100%;
    }
    .footer_cfg li{
        margin-right: 1em;
    } 
    .social_footer{
        position: absolute;
        bottom: 0.5em;            
        left: 35%;
    }
    .footer_cfg{
       margin: 0 3em 3em 3em;
    }
}

@media only screen and (min-width: 320px ) and (max-width: 374px){
    .container{
        margin: 0;
    }
    /*banner*/
    .banner {
        display: grid;
        grid-template-columns: 100%;
    }
    .banner_title{
        display: none;
    }
    .banner_content{
        display: none;
    }
    .popular {
        display: grid;
        grid-template-columns: 100%;
     }
     .imageContainer{
        max-height: 212px;
    }
    .banner_final_list{
        display: none;
    }
    /*section1*/
    .section_two {
        margin-top: 0.5em;
    }
    .popular_left_title{
        display: grid;
        grid-template-columns: 100%;
        margin-top: 1em;
      }
    .popular_left h3{
        font-size: 1.5em;
    }
    .popular_left-content {
        padding: 10%;
    }
    .popular_left-content p{
        font-size: 1em;
    }
    .popular_left-content a{
        font-size: 1em
    }
    .popular_left-content h3{
        font-size: 1.3em;
    }
    #endu{
        font-size: 6em;
    }
    #panc{
        font-size: 6em;
    }
    #challenges{
        font-size: 2.5em;
    }
    .img_shoes{
        top: 6em;
    }
    .popular_right_target{
        padding: 1em;
    }
    .popular_right_target_mission h2{
        font-size: 1.5em;
    }
    .popular_right_target_mission{
        position: unset;
        padding: 1em;
        margin-top: 20em;
    }
    /*section2*/
    .results{
        display: grid;
        grid-template-columns: 100%;
    }
    .results_left_title{
       display: none;
    }
    .results_left-your_sesults{
        display: none;
    }
    .results_left_img{
        display: none;
    }
    .results_left_reponse{
        display: block;
        white-space: nowrap;
    }
    /*right*/
    .results_left_reponse {
        font-size: 0.8em;
        margin-bottom: 1em;
        text-indent: 20px;
    }
    .results_right{
        padding: 2em 4em 2em 4em;
    }
     .results_right_boder_content{
        padding: 6em 1em 1em 1em;
    }
    .results_right_boder_content h2{
        margin-top: 0.1em;
        font-size: 1em;
    }
    .results_right_boder_content p{
        font-size: 0.5em;
    }
     .results_right_boder_content_span p{
        font-size: 0.5em;
    }
    /*section 3*/
    .section_four{
        display: grid;
        grid-template-columns: 100%;
        padding-bottom: 1em;
    }
    .adice {
    position: unset;
    transform: none;
    }
    .adice h1 {
        font-size: 3em;
    }
    .section_four_right{
        height: 20em;
    }
    .section_four_right_survival {
        width: 12em;
        height: 8em;
        padding: 1em;
    }
    .section_four_right_survival h2{
        font-size: 1em;
    }
    .section_four_right_survival p{
        font-size: 0.5em;
    }
    /*section4*/
    .feature{
        display: grid;
        grid-template-columns: 100%;
    }
    
    .feature_camp_shelter p {
        margin-bottom: 1em;
    }
    .feature_tea {
        margin-left: 0;
        margin-top: 1em;
    }
    .feature_camp_shelter {
        padding-top: 18em;
    }
    .feature_icon img {
        top: 0em;
    } 
    /*footer*/
    .footer {
        display: grid;
        grid-template-columns: 100%;
        max-height: 50em;
        text-align: center;
       
    }
    .footer li{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-top: 1em;
    }
    .logo_footer {
        width: 50%;
    }
    .footer_cfg{
        display: grid;
        grid-template-columns: 100%;
    }
    .footer_cfg li{
        margin-right: 1em;
    } 
    .social_footer{
        position: absolute;
        bottom: 0.5em;            
        left: 35%;
    }
    .footer_cfg{
       margin: 0 3em 3em 3em;
    }
     .footer_challenges{
        font-size: 85%;
    }
    .footer_advice{
        font-size: 85%;
    }
    .footer_gallery{
        font-size: 85%;
    } 
}


