.tutorial {
  font-size: 15px;
  padding: 24px;
  background: #ffebc9;
  margin: 24px 0;
  border-radius: 8px;
  border: solid 1px #ffb83c;
  &_title {
    color: #ff913c;
    font-size: 28px;
    text-align: center;
  }
  &_info {
    padding: 24px 16px;
    &:not(:last-child) {
      border-bottom: 1px solid #ffb83c;
    }
  }
  &_icon {
    width: 60px;
    img {
      display: block;
    }
  }
}
.note {
  .txt-note {
    font-size: 17px;
    margin-bottom: 8px;
    color: #f4511e;
  }
}
