// #root{
//   background-image: url('../../../image/exam-6350373_1920.jpg');
//   background-repeat: no-repeat;
//   background-position: center;
//   background-size: cover;
// }
// .bg_login{
//   padding: 3rem 0;
// }
.login {
  background-color: white;
  border-radius: .5rem;
  text-align: center;
  width: 83rem;
  margin: auto;
  padding: 3rem 2rem;
  &__title {
    font-size: 2rem;
    padding-bottom: 6rem ;
  }
  &__fb {
    font-size: 1.5rem;
  }
  &__or {
    display: block;
    height: 0.1rem;
    width: 100%;
    background-color: rgb(197, 197, 197);
    position: relative;
    margin-top: 5rem;
    &::after {
      content: "hoặc";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: white;
      z-index: 100;
      font-size: 1.5rem;
      color: rgb(185, 185, 185);
      padding: 0 1rem;
    }
  }
  &__email {
    padding: 2rem 0;
    input {
      display: block;
      width: 100%;
      padding: 1.2rem;
      outline: none;
      border: 1px solid rgb(167, 167, 167);
      border-radius: 0.5rem;
      &:not(:last-child){
        margin: 1rem 0;
      }
      &::placeholder{
          font-size: 1.4rem;
          color: rgb(179, 179, 179);
      }
    }
  }
  &__forget{
      font-size: 1.3rem;
      text-align: right;
      padding-bottom: 5rem;
      &-link{
          text-decoration: none;
          color: deepskyblue;
      }
  }
  &__sigup{
    font-size: 1.3rem;
   
  }
  &__errors{
    font-size: 1.4rem;
    color: red;
    text-align: start;
    padding: 0;
    margin: 0;
    font-weight: bold;
  }
}
