.advertisement-section_one {
  width: 90%;
  min-height: 100px;
  height: auto;
  text-align: center;
  margin-top: 50px;
  opacity: 0.5;
  border: 1px solid;
  height: 200px;
  border-radius: 10px;
}
.advertisement-section_one h2 {
  background: red;
  border-radius: 10px 10px 0px 0px;
  border: 1px solid;
  padding: 0.2em;
  color: white;
}
.main-btn-bottom{
  margin-top: 55px;
    margin-bottom: 10px;
    font-weight: 500;
}
.bt-startnew:hover {
  background: blue;
  color: #ffb83c;
  
}
.bt-startnew{
  background: #ffb83c;
    padding: 11px;
    color: blue;
    border-radius: 10px;
}