.padding-gutters {
  padding: 7.5rem 0rem;
}
.padding-gutters-small {
  padding: 2.5rem 0rem;
} 
// margin
.mt-13 {
  margin-top: 13rem;
}
.mt-5{
  @include respond(tab-land){
    margin-top: 5rem;

  }
}

.display-inline-block {
  display: inline-block;
}

.justify-content-center {
  justify-content: center;
}
.jus-sb {
  justify-content: space-between;
}



.text-center {
  text-align: center;
}


.align-self-center {
  align-self: center;
}

.align-self-start {
  align-self: flex-start;
} 

.align-self-end {
  align-self: flex-end;
}
.height-25rem {
  @include respond(tab-land) {
    height: 25rem;
  }
}

.dflex-center {
  display: flex;
  justify-content: center;
}
.dflex-end {
  display: flex;
  justify-content: end;
}


// align item
.ai-center{
  align-items: center;
}
.ai-stretch {
  align-items: stretch;
}
//order
.order-2{
  order:2;
  background-color: $color-green-light;
  margin-top: 5rem;
  @include respond(tab-land){
    order: unset;
  margin-top: unset;

  }
}
// padding 0
.p-0{
  padding: 0;
}

//btn 
.jus-btn{
  justify-content: center;
  @include respond(tab-land){
    justify-content: flex-end !important;
  }
}

