.form__test {
    width: 100%;
    margin: 0;
    padding: 0;
    min-height: 450px;
    border: 0;
    text-align: start;
}
.form__test > p {
    margin: 25px 0 15px;
    font-weight: bold;
    color: black;
}
.session__answer {
    margin-bottom: 10px;
 }
.session__answer input {
    margin-right: 10px;
}

.button {
    display: block;
    padding: 10px 25px;
    margin: 25px auto 0;

    border: solid;
    border-radius: 5px;

    background: #ffb83c;
    color: #fff;
}