.advertisement-all-top {
   border: 1px solid;
   padding: 20px;
   border-radius: 10px;
   min-height: 250px;
   height: auto;
   margin: 20px 0;
   text-align: center;
 }
 
 .advertisement-all-top h2 {
   background: blue;
   padding: 2%;
  
   border-radius: 15px;
   margin: 15px 0;
   color: #fff;
 }
 .advertisement-all-bottom {
   /* display: flex;
   justify-content: space-around; */
   /* border-bottom: 1px solid; */
 }
 .advertisement-all-bottom_item{
   display: flex;
   justify-content: space-around;
   font-weight: 500;
 }
 .advertisement-all-bottom_item p {
   margin: 15px 0px;
   
 }