.header {
  padding: 1.5rem 0;
  background-color: white;
  &__logo {
    img {
      width: 100%;
    }
  }
  &__navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1;
  }
  &__nav {
    &_item {
      display: flex;
      font-size: 1.2rem;
      li { 
        a {
          text-decoration: none;
          color: black;
        }
        list-style: none;
        padding: 0 1.5rem;
      }
    }
  }
  &__login {
    position: relative;
    a,.button-sigin {
      display: block;
      background-color: #b2deff;
      border-radius: 5rem;
      padding: 0.3rem 0.3rem 0.3rem 1.4rem;
      text-decoration: none;
      cursor: pointer;
      span {
        font-size: 1.3rem;
        margin: 0 1rem;
        font-weight: bold;
        color: #065592;
      }
    }
    .login-success{
      display: flex;
      .username{
        margin: 0 1rem;
      }
    }

    &_icon {
      font-size: 1.5rem;
      color: white;
      background-color: #065592;
      padding: 1rem;
      border-radius: 50%;
    }
  }
  &__breadcrumb {
    width: 100%;
    padding: 1.4rem 0;
    background-color: #3a4bcd;
    margin: 2rem 0;
    font-size: 1.2rem;
    color: white;
    text-align: center;
  }

    .signup{
      display: none;
      position: absolute;
      top: 5.8rem;
      left: 50%;
      transform: translate(-50%,-50%);
      font-size: 1.4rem;
      width: 10rem;
      text-align: center;
      background-color: white;
      cursor: pointer;
      box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.781);
      border-radius: .5rem;
      padding: .5rem 0;
    }
    #check-logout{
      display: none;
    }
    #check-logout:checked ~ .signup{
      display: block;
    }

}


