
/* .form__input {
    width: 100%;
    padding: 15px 20px;
    margin: 35px 0;
    border: solid 1px #e1e1e1;
} */

/* .form__support {
    display: flex;
    justify-content: flex-end;
    margin-top: -15px;
    font-size: 13px;
} */
/* .form__support > span > a {
    color: #0a86d1;
} */
/* .button__submit {
    border: solid;
    background-color: #375aab;
    color: #fff;
} */
/* .button {
    display: block;
    padding: 10px 25px;
    margin: 6px auto 0;

    border: solid;
    border-radius: 5px;

    background: #ffb83c;
    color: #fff;
} */
/* .button__left {
    margin: 20px 0 0;
} */

/* .error {
    color: red;
    text-align: start;
    margin-bottom: 10px;
} */
