.main {
  margin: 24px 0;
  .main-question {
    border: 1px solid #d9d9d9;
    border-radius: 8px;
    margin-right: 24px;
    padding: 24px;
    .title-test {
      font-size: 22px;
      color: #065592;
      margin-bottom: 24px;
    }
    .detail-question {
      display: flex;
      justify-content: space-between;
      font-size: 15px;
      padding: 24px;
      background-color: #ececec;
      border-radius: 8px;

      &_icon {
        width: 14px;
        height: 14px;
        margin-right: 4px;
      }
    }
    .tutorial {
      font-size: 15px;
      padding: 24px;
      background: #ffebc9;
      margin: 24px 0;
      border-radius: 8px;
      border: solid 1px #ffb83c;
      &_title {
        color: #ff913c;
        font-size: 28px;
        text-align: center;
      }
      &_info {
        padding: 24px 16px;
        &:not(:last-child) {
          border-bottom: 1px solid #ffb83c;
        }
      }
      &_icon {
        width: 60px;
        img {
          display: block;
        }
      }
    }
    .note {
      .txt-note {
        font-size: 17px;
        margin-bottom: 8px;
        color: #f4511e;
      }
    }
    .btn-start {
      background-color: #ffb83c;

      font-weight: bold;
      text-transform: uppercase;

      max-width: 330px;
      height: 50px;
      border-radius: 6px;
    }
    .item-question {
      &_answer {
        border: 1px solid #d9d9d9;
        border-radius: 4px;
        margin-top: 24px;
        padding: 0 16px;
        label {
          display: block;
          flex: 1;
          padding: 16px 0;
          margin-left: 8px;
        }
      }
    }
    .controls {
      background: #065592;
      .exercise-controls {
        justify-content: space-between;
        &_flex {
          display: flex;
          justify-content: space-between;
          align-items: center;
          .seeback {
            color: #fff;
            width: max-content;
          }
          .btn-controls {
            margin-left: 16px;
            display: flex;
            align-items: center;
            min-height: 32px;
          }
        }
      }
      .question-table {
        padding: 16px 16px 0px 16px;
        margin-bottom: 16px;
        background: #00335a;
        &_top {
          color: #fff;
        }
        &_flex {
          display: flex;
          flex-wrap: wrap;
        }
        &_list {
          display: flex;
          flex-wrap: wrap;
          margin: 0 -1.25%;
        }
        &_item {
          width: 10%;
          background: #f2f2f2;
          text-align: center;
          box-sizing: border-box;
          border-radius: 4px;
          margin: 1.25%;
          &.done {
            background-color: rgb(157, 213, 251);
          }
          &.review {
            background-color: rgb(255, 222, 183);
          }
        }
        .btn-finish {
          max-width: max-content;
          padding: 8px;
          background: #ffb83c;
          border-radius: 5px;
        }
      }
    }
  }
  .sidebar-right {
    flex: 1;
    font-size: 13px;
    p {
      color: red;
      font-size: 14px;
      margin: 8px;
    }
    .btn-already {
      background-color: #ffb83c;
      height: 50px;
      border-radius: 6px;
      margin-bottom: 32px;
    }
    .btn-share {
      background-color: #375aab;
      height: 50px;
      border-radius: 6px;
    }
    .result {
      text-align: start;
    }
  }
}
.align_center {
  text-align: center;
}
.btn {
  border: none;
  outline: none;
  background-color: transparent;
  color: #fff;
  width: 100%;
}
.countdown {
  padding: 4px;
  background: #efefef;
  border-radius: 4px;
  margin-right: 16px;
  max-width: 60px;
  width: 100%;
  .clock {
    width: 12px;
    height: 12px;
    margin-right: 4px;
  }
  span {
    font-size: 13px;
  }
}
