.header_item-logout {
  position: relative;
  display: flex;
}
.header_item-logout p {
  padding-right: 12px;
}
.header_item-logout:hover .logout {
  background: #b2deff;
  display: block;
}
.logout {
  display: none;  
}
.logout a {
  color: white;
  background: blue;
  animation-name: example;
  animation-duration: 10s;
}
@keyframes example {
   0% {backgrounc: crimson;}
   25% {background: lightsalmon;}
   50% {background: pink;}
   100% {background: indigo;}
 }
