.header {
  position: relative;
  overflow: hidden;
  background-image: linear-gradient(
    to bottom,
    rgba($color-green, 0.1),
    rgba($color-green-light, 0.2)
  );

  &__top {
    padding: 2rem 0;
    position: fixed;
    transition: all 0.7s;
    background-color: $color-green-light;
  }
  .sticky {
    z-index: 2000;
    transition: all 0.7s;
    background-color: $color-white;
  }
  &__nav {
    display: none;
    @include respond(tab-port) {
      display: block;
    }
    &-item {
      display: flex;
      justify-content: space-around;
      align-items: center;
      list-style: none;
      font-size: 2rem;
      font-family: $font-family-josefin;
      font-weight: 500;
      color: $color-grey-light;
      cursor: pointer;
      li {
        &:hover {
          color: $color-black;
          border-bottom: 0.2rem solid $color-green-dark;
        }
      }
    }
  }
  &__content {
    margin-top: 10rem;
    padding: 0.3rem;
    text-align: center;
    @include respond(tab-port) {
      text-align: unset;
    }
    &-text {
      font-family: $font-family-poppins;
      font-size: 2rem;
      font-weight: 500;
      line-height: 3.6rem;
      margin: 3.5rem 0;
      color: $color-grey-light-2;
    }
    &-form {
      input {
        font-family: $font-family-poppins;
        font-size: 1.8rem;
        background-color: $color-white;
        padding: 1.6rem 2rem;
        margin-right: 2rem;
        width: 100%;
        box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.07);
        border-radius: 0.5rem;
        outline: none;
        border: none;
        margin-bottom: 2rem;
        &::placeholder {
          opacity: 0.6;
        }
        @include respond(tab-port) {
          width: 33rem;
        }
      }
    }
  }
  &__ab {
    position: absolute;
    top: -20rem;
    left: -40rem;
    z-index: -1;
    @include respond(tab-port) {
      left: 40rem;
    }
    @include respond(tab-land) {
      position: unset;
    }
  }
}
