.sub-form {
  &__form {
    position: relative;
    &-input {
      outline: none;
      border: none;
      box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.05);
      padding: 1.7rem 4rem;
      font-size: 1.8rem;
      font-family: $font-family-poppins;
      border-radius: 3.5rem;
      width: 100%;
      &::placeholder{
          color: $color-grey-light-1;
      }
    
     
    }
    &-btn {
        text-align: center;
        background: linear-gradient(180deg, rgba(140,181,96,1) 0%, rgba(99,157,43,1) 100%);
      border: none;
      border-radius: 50%;
      outline: none;
      padding: 1.7rem;
      position: absolute;
      top: 50%;
      right: -2rem;
      transform: translate(-50%,-50%);
      cursor: pointer;
      &:hover{
          opacity: .5;
      }
    }
  }
}
