//GREEN
$color-green:#8CB560;
$color-green-dark:#59882B;
$color-green-light:#F8FBF5;


$color-white:#fff;
$color-black:#212529;

$color-grey-light:#8d8d8d;
$color-grey-light-1:#b7b7b7;
$color-grey-light-2:#636465;

$color-yellow:#FEBD00;

$color-text:#545454;
//FONT


$font-family-cookie: 'Cookie', cursive;
$font-family-josefin: 'Josefin Sans', sans-serif;
$font-family-poppins: 'Poppins', sans-serif;
