.exam {

  &__title {
    padding-bottom: 2rem;
    font-size: 2.2rem;
  }
  &__detail-question {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    background-color: rgb(245, 245, 245);
    padding: 3rem 2rem;
    border-radius: 1rem;
    margin-bottom: 2rem;
  }

}
.finish{
  text-align: center;
  .red{
    color: red;
  }
  .green{
    color:green;
  }
  &__title{
    font-size: 1.6rem;
  }
  &__content{
    display: flex;
    justify-content: center;
    &-box{
      width: 18rem;
      font-size: 1.6rem;
      background-color: #3A4BCD;
      padding: 4rem 2rem;
      margin: 2rem;
      border-radius: 2rem;
      color: white;
    }
  }
}