.view-result {
  border: 1px solid rgb(209, 208, 208);
  padding: 1rem;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
  background-color: white;

  .main__ratings_header {
    color: red;
    p {
      font-size: 1.3rem;
    }
  }
  &__number {
    margin: 3rem 0;
    display: flex;
    flex-wrap: wrap;
    font-size: 1.3rem ;
    &-box {
      text-align: center;
      background-color: rgb(228, 228, 228);
      padding: 1rem 0;
      width: 9.1%;
      margin: 1%;
      border-radius: 0.5rem;
      cursor: pointer;
      color: white;
    }
    .success2{
        background-color: rgb(82, 219, 82);
    }
    .fail2{
        background-color: rgb(243, 52, 52);
    }
    .noneColor{
      background-color: rgb(228, 228, 228) !important;
    }
  }
}
